body {
    background: #F9FAFD;
    background: radial-gradient(circle,rgba(249, 250, 253, 1) 0%, rgba(205, 217, 255, 1) 100%);
}

.mood-orizzontale {
text-align: center;
border-radius:75px;
height: 864px;
width: 1296px;
overflow: hidden; 
}

.mood-orizzontale img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
} 

#acqua {
    opacity: 45%;
}

.mood-palline {
    display: flex;
    gap: 20px;
    align-items: center;
    text-align: center;
    height: 482px;
    width: 482px;
}

.mood-palline img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.mood-verticale {
text-align: center;
height: 1296px ;
width: 864px;
border-radius:75px;
overflow: hidden;
}

.mood-verticale img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
} 

.box-text-button {
text-align: center;
background-color: #F9FAFD;
border-radius:75px;
width: 718px;
height: 889px;
overflow-wrap: break-word;
overflow: hidden;
padding-top: 72px;
padding-bottom: 72px;
padding-left: 35px;
padding-right: 35px;
position: relative;
}

.testo-fit-box {
    position: absolute;
}