body {
    background: #F9FAFD;
    background: radial-gradient(circle,rgba(249, 250, 253, 1) 0%, rgba(205, 217, 255, 1) 100%);
}


nav {
  height: 134px;
  display: flex;
  justify-content: space-between;
  background-color: #2339B6;
  padding: 10px 40px;
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 55px;
  
}

.icone-menu {
    display:flex;
    justify-content: space-between;
}

.menu {
list-style: none;
display: flex;
justify-content: space-between;
align-items: center;
gap: 5rem;
padding: 10px;
font-family: 'Inter', sans-serif;
font-size: 40px;
width: 100%;
}

.menu >li {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 0px;
}

.menu > li > a {
    color: #F9FAFD;
    text-decoration: none;
    transition: 0.3s;
}

.menu > li.voci-menu > a:hover {
  color: #3B3B3B;
  background-color: #D4DEFE;
  padding: 50px 5px;
}

.icone-menu {
 max-width: 100px;
 max-height: 100px;
}

.submenu {
 list-style: none;
 display: none;
}



/* Tablet Mobile Style*/
@media (min-width: 769px) {

.header-menu-tablet-mobile {
  display: flex;
  justify-content: space-between;
  background-color: #2339B6;
}

.header-button {
  text-decoration: none;
  
  
}



.tablet-mobile {
  display: flex;
  justify-content: space-between;
  background-color: #2339B6;
  list-style: none;
}

.hidden-menu {
  list-style: none;
  display: none; /* non fa visualizzare lista menu hamburger*/
}

}

/* Chiusura-Tablet Mobile Style*/



h1 {
    font-family: 'Delius Swash Caps', serif;
    font-size: 96px;
    color: #F9FAFD;
}

.first {
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mood-orizzontale {
text-align: center;
border-radius:75px;
height: 864px;
width: 1296px;
overflow: hidden;
}

.mood-orizzontale img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
} 

#acqua {
    opacity: 45%;
}

.inner-first {
    display: flex;
    flex-direction:row;
    justify-content: center;
    gap: 30rem;
}

.mood-palline {
    display: flex;
    gap: 20px;
    align-items: center;
    text-align: center;
    height: 482px;
    width: 482px;
}

.mood-palline img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

h2 {
    font-family: 'Edu TAS Beginner',serif;
    font-size: 64px;
    text-align: center;
}

.second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 328px;
  margin-right: 328px;
}

.third {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.mood-verticale {
text-align: center;
height: 1296px ;
width: 864px;
border-radius:75px;
overflow: hidden;
}

.mood-verticale img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
} 

.box-text-button {
text-align: center;
background-color: #F9FAFD;
border-radius:75px;
width: 718px;
height: 889px;
overflow-wrap: break-word;
overflow: hidden;
position: relative;
}

.testo-fit-box {
    position: absolute;
    font-size: 32px;
    padding-top: 102px;
    padding-left: 75px;
    padding-right: 75px;
}

.skin-type {
  display: flex;
    flex-direction:row;
    justify-content: center;
    gap: 65px;
    list-style: none;
}

#base {
    background-color: #D4DEFE;
}

.blog {
    display: flex;
    background: #2339B6;
    background: linear-gradient(0deg,rgba(35, 57, 182, 1) 0%, rgba(212, 222, 254, 1) 100%);
    width: 1702px;
    height: 1200px;
    border-radius:75px;
}

figure {
  max-width: 380px;
  margin: 20px auto;     /* centra il blocco */
  text-align: center;    /* centra testo e immagine */
  font-family: Arial, sans-serif;
  color: #555;
}

figure img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

figcaption {
  margin-top: 8px;
  font-size: 40px;
  font-style: 'Edu TAS Beginner', italic;
  color: #888;
  text-align: center;
}

footer {
    background: #2339B6;
    background: linear-gradient(0deg,rgba(35, 57, 182, 1) 0%, rgba(212, 222, 254, 1) 100%);
    height: 320px;
    border-top-left-radius: 75px;
  border-top-right-radius: 75px;
}

p {
  text-align: left;
}

button {
  background-color: #2339B6;
  border-radius: 50px;
  color: #F9FAFD;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding: 20px;
  font-size: 42px;
  border-style: none;
}