body {
    background: #F9FAFD;
    background: radial-gradient(circle,rgba(249, 250, 253, 1) 0%, rgba(205, 217, 255, 1) 100%);
}


nav {
  height: 134px;
  display: flex;
  justify-content: space-around;
  background-color: #2339B6;
  padding: 10px 40px;
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 55px;
}

.menu {
list-style: none;
display: flex;
justify-content: center;
align-items: center;
gap: 2rem;
font-family: 'Inter', sans-serif;
font-size: 40px;
}

.menu >li {
    position: relative;
}

.menu > li > a {
    color: #F9FAFD;
    text-decoration: none;
    transition: 0.3s;
}

.menu > li > a:hover {
  color: #3B3B3B;
  background-color: #D4DEFE;
  padding: 5px 10px;
}

.submenu {
 list-style: none;
 display: none;
}

.mood-orizzontale {
text-align: center;
border-radius:75px;
height: 864px;
width: 1296px;
overflow: hidden; 
}

.mood-orizzontale img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
} 

#acqua {
    opacity: 45%;
}

.mood-palline {
    display: flex;
    gap: 20px;
    align-items: center;
    text-align: center;
    height: 482px;
    width: 482px;
}

.mood-palline img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.mood-verticale {
text-align: center;
height: 1296px ;
width: 864px;
border-radius:75px;
overflow: hidden;
}

.mood-verticale img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
} 

.box-text-button {
text-align: center;
background-color: #F9FAFD;
border-radius:75px;
width: 718px;
height: 889px;
overflow-wrap: break-word;
overflow: hidden;
padding-top: 72px;
padding-bottom: 72px;
padding-left: 35px;
padding-right: 35px;
position: relative;
}

.testo-fit-box {
    position: absolute;
    font-size: 32px;
}

#base {
    background-color: #D4DEFE;
}

.blog {
    background: #2339B6;
    background: linear-gradient(0deg,rgba(35, 57, 182, 1) 0%, rgba(212, 222, 254, 1) 100%);
    width: 1702px;
    height: 1200px;
}

figure {
  max-width: 400px;
  margin: 20px auto;     /* centra il blocco */
  text-align: center;    /* centra testo e immagine */
  font-family: Arial, sans-serif;
  color: #555;
}

figure img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

figcaption {
  margin-top: 8px;
  font-size: 0.9rem;
  font-style: italic;
  color: #888;
}

