@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Edu+TAS+Beginner:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*,*::before,*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background: #F9FAFD;
  background: radial-gradient(circle, rgba(249, 250, 253, 1) 0%, rgba(205, 217, 255, 1) 100%);
}

p {
  text-align: left;
  font-style: 'Inter', sans-serif;
  padding-left: 75px;
  padding-right: 75px;
}

button {
  font-style: 'Inter', sans-serif;
  font-weight: 500;
  background-color: #2339B6;
  border-radius: 2.6vw;
  color: #F9FAFD;
  padding-top: 0.8vw;
  padding-bottom: 0.8vw;
  padding-left: 1.8vw;
  padding-right: 1.8vw;
  font-size: 2.2vw;
  border-style: none;
}

.listen-to-your-skin-desktop {
font-size: 6.7vw;
}

.menu-desktop {
  height: 7vw;
  display: flex;
  justify-content: space-between;
  background-color: #2339B6;
  padding: 0.5vw 2.1vw;
  border-bottom-left-radius: 2.9vw;
  border-bottom-right-radius: 2.9vw;
}

.icone-menu {
  display: flex;
  justify-content: space-between;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  padding: 0.5vw;
  font-family: 'Inter', sans-serif;
  font-size: 2.1vw;
  width: 100%;
}

.menu>li {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 0px;
}

.menu>li>a {
  color: #F9FAFD;
  text-decoration: none;
  transition: 0.1s;
}

.menu>li.voci-menu>a:hover {
  color: #3B3B3B;
  background-color: #D4DEFE;
  padding: 50px 5px;
}

.icone-menu {
  max-width: 5.2vw;
  max-height: 5.2vw;
}

.submenu {
  list-style: none;
  display: none;
}

.header-menu-tablet-mobile {
  display: none;
}


/*salto responsive stile font proporzionale intermedia*/

@media (max-width: 1920px) and (min-width: 835px) {
  .menu {
    justify-content: space-between;
    gap: 5rem;
  }
}

/* Intervallo: da 1112px a 1212px */
@media (max-width: 834px) and (min-width: 376px) {
  .menu {
    justify-content: space-between;
    gap: 5rem;
  }
}

/* Intervallo: fino a 1111px */
/*
@media (max-width: 375px) {
  .menu {
    justify-content: space-between;
    gap: 5rem;
  }
}
*/


/* Tablet Mobile Style*/
@media (max-width: 1088px) {

  
.listen-to-your-skin-desktop {
display: none;
}

.listen-to-your-skin-tablet {
  text-align: center;
  position: absolute;
font-style: 'Delius Swash Caps';
font-size: 48px;

}

.menu-desktop {
    display: none;
  }

  .header-menu-tablet-mobile {
    display: flex;
    justify-content: space-between;
    background-color: #2339B6;
  }

  .header-button {
    text-decoration: none;
  }

  .tablet-mobile {
    display: flex;
    justify-content: space-between;
    background-color: #2339B6;
    list-style: none;
    position: relative;
  }

}

/* Chiusura-Tablet Mobile Style*/


h1 {
  font-family:'Delius Swash Caps', serif;
  font-size: 5vw;
  color: #F9FAFD;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.mood-orizzontale {
  text-align: center;
  border-radius: 3.9vw;
  height: 45vw;
  width: 67.5vw;
  overflow: hidden;
}

.mood-orizzontale img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

#acqua {
  opacity: 45%;
  position: relative;
  width: 67.5vw;
  height: 50.6vw;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.inner-first {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 41.7vw;
  position: absolute;
  bottom: 0; 
   transform: translate(0% , 50%);
}

.mood-palline {
  display: flex;
  gap: 1vw;
  align-items: center;
  text-align: center;
  height: 25.1vw;
  width: 25.1vw;
}

.mood-palline img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

h2 {
  font-family: 'Edu TAS Beginner', serif;
  font-size: 3.3vw;
  font-weight: 400;
  text-align: center;
}

.second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6.25vw;
  margin-top: 20.8vw;
  margin-bottom: 5.2vw;
}

.third {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6.25vw;
  margin-bottom: 11.4vw;
  margin-top: 8.8vw;
}

.mood-verticale {
  text-align: center;
  height: 67.5vw;
  width: 45vw;
  border-radius: 3.9vw;
  overflow: hidden;
}

.mood-verticale img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.box-text-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vw;
  background-color: #F9FAFD;
  border-radius: 3.9vw;
  width: 37.4vw;
  height: 46.3vw;
  overflow: clip;
}

.testo-fit-box {
  font-size: 1.7vw;
  font-family: 'Inter', sans-serif;
  margin-top: 4vw;
}

.tipologia-pelle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.38vw;
}

.sottotitolo1 {
  font-size: 3.3vw;
  background-color: #2339B6;
  color: #F9FAFD;
  border-radius: 10.4vw;
  width: 74.5vw;
  height: 11.25vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skin-type {
  font-family: 'Edu TAS Beginner', serif;
  font-weight: 500;
  font-size: 2.1vw;
  display: flex;
  justify-content: center;
  gap: 3.4vw;
  list-style: none;
}

figure {
  margin: 1vw auto;
}

figure img {
  width: 100%;
  height: auto;
  border-radius: 0.4vw;
}

figcaption {
  margin-top: 0.4vw;
  color: #3B3B3B;
}

.sottotitolo2 {
  background-color: #D4DEFE;
  color: #3B3B3B;
  border-radius: 10.4vw;
  width: 74.5vw;
  height: 13vw;
  margin: 0 auto;
  text-align: center;
  border-width: var(--border-width);
  border-style: solid;
  border-color: #2339B6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.test-pelle {
  --border-width: 1.7vw;
  position: relative;
}

.vaialtest  {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50% , calc(50% - var(--border-width) / 2));
}

#base {
  background-color: #D4DEFE;
}

.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(0deg, rgba(35, 57, 182, 1) 0%, rgba(212, 222, 254, 1) 100%);
  width: 88.6vw;
  border-radius: 5.2vw;
  margin: 0 auto;
  gap: 3vw;
}

.h2-titlebox{
  margin-top: 3vw;
  text-align: center;
}

.blog-button {
  width: 88.6vw;
  display: grid;
  padding: 3.2vw 6.5vw;
  gap: 5.2vw;
}

.block-b{
margin-right: auto;
background-color: #D4DEFE;
color: #3B3B3B;
font-family: 'Inter', sans-serif;
font-size: 3.3vw;
font-style: italic;
font-weight: 300;
}

.block-b2 {
margin-left: auto;
background-color: #D83E5D;
font-family: 'Inter', sans-serif;
font-size: 3.3vw;
font-style: italic;
font-weight: 300;
}

.personalizzata {
  --border-width: 1.7vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F9FAFD;
  border-width: var(--border-width);
  border-style: solid;
  border-color: #2339B6;
  width: 88.6vw;
  height: 33.2vw;
  border-radius: 5.2vw;
  margin: 0 auto;
  margin-top: 10.4vw;
  position: relative;
}

.registra-account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5vw;
  margin-top: 2vw;
}

.registra-account p {
font-family: 'Inter', sans-serif;
font-size: 1.7vw;
}

.registrati-button {
 position: absolute;
 bottom:0%;
 right: 50%;
 transform: translate(50% , calc(50% + var(--border-width) / 2));
}

/* CSS ABOUT */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 73.3vw;
  margin-bottom: 4.6vw;
  gap: 5.7vw;
}

.title {
  background-color: #2339B6;
  color: #F9FAFD;
  border-radius: 10.4vw;
  width: 74.5vw;
  height: 14.2vw;
  text-align: center;
  overflow-wrap: break-word;
  margin-top: 5.5vw;
}

.title h1 {
  position: relative;
}

.paragrafo1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4.8vw;
  margin-bottom: 5.2vw;
}

.testo-affiancato {
  width: 30.7vw;
  text-align: left;
  font-size: 1.7vw;
}

.paragrafo2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.7vw;
}

.paragrafo2 p {
  width: 73.3vw;
}

.step-base {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 1.6vw;
  list-style: none;
  margin-top: 2.6vw;
  margin-bottom: 3.6vw;
}

.step-base img {
  height: 19.8vw;
  width: 19.8vw;
}

.paragrafo3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4.4vw;
  margin-bottom: 10.4vw;
}

.slideshow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5.9vw;
  background-color: #2339B6;
  width: 84.4vw;
  border-radius: 5.2vw;
  position: relative;
  text-align: center;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.slideshow-container .slider-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.prev-slide, .next-slide {
  border: none;
  background: none;
  outline: none;
}

.slider {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  transform: scale(0.8);
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 84.4vw;
  flex-shrink: 0;
  flex-basis: 84.4vw;
  width: 100%;
  scroll-snap-align: start;
  margin-top: 4.2vw;
  margin-bottom: 5.2vw;
}

.slide img, .caption-slide {
  width: 50%;
}

.slider-container-img {
  text-align: center;
  height: 43.7vw;
  width: 34.6vw;
  border-radius: 3.9vw;
  overflow: hidden;
}

.slider-container-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.caption-slide {
  color: #F9FAFD;
  font-size: 1.7vw;
}

.caption-slide p {
  margin-bottom: 3.1vw;
}

.slider-nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  border-radius: 100%;
  background: none;
}

.slider-pagination {
  position: absolute;
  bottom: 0;
}

.dot{
  background-color: #F9FAFD;
  opacity: 0.5;
  width: 1vw;
  height: 1vw;
  margin: 0.5vw;
  padding: 0; 
  cursor: pointer;
  border-radius: 100%;
  margin-bottom: 2.6vw;
}

.dot.active {
  opacity: 1; /* per pallino acceso */
}


/* CSS ABOUT FINE */


footer {
  display: flex;
  justify-content: space-between;
  height: 320px;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 1vw;
  background: linear-gradient(0deg, rgba(35, 57, 182, 1) 0%, rgba(212, 222, 254, 1) 100%);
  border-top-left-radius: 3.9vw;
  border-top-right-radius: 3.9vw;
  margin-top: 7.4vw;
}

span {
  font-family: 'Edu TAS Beginner', serif;
  font-size: 2.1vw;
}

.colonna-sinistra {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1.6vw;
}

.colonna-centrale {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.6vw;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  gap: 4.2vw;
}

.colonna-destra {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
  margin-top: 1.6vw;
}

