*,*::before,*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #F9FAFD;
  background: radial-gradient(circle, rgba(249, 250, 253, 1) 0%, rgba(205, 217, 255, 1) 100%);
}

p {
  text-align: left;
  font-style: Arial, sans-serif;
  padding-left: 75px;
  padding-right: 75px;
}

button {
  background-color: #2339B6;
  border-radius: 50px;
  color: #F9FAFD;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 35px;
  padding-right: 35px;
  font-size: 42px;
  border-style: none;
}

.listen-to-your-skin-desktop {
font-style: 'Delius Swash Caps';
font-size: 128px;
}

.menu-desktop {
  height: 134px;
  display: flex;
  justify-content: space-between;
  background-color: #2339B6;
  padding: 10px 40px;
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 55px;

}

.icone-menu {
  display: flex;
  justify-content: space-between;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  padding: 10px;
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  width: 100%;
}

.menu>li {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 0px;
}

.menu>li>a {
  color: #F9FAFD;
  text-decoration: none;
  transition: 0.3s;
}

.menu>li.voci-menu>a:hover {
  color: #3B3B3B;
  background-color: #D4DEFE;
  padding: 50px 5px;
}

.icone-menu {
  max-width: 100px;
  max-height: 100px;
}

.submenu {
  list-style: none;
  display: none;
}

.header-menu-tablet-mobile {
  display: none;
}
/*salto responsive stile font proporzionale intermedia*/

@media (max-width: 1614px) and (min-width: 1213px) {
  .menu {
    font-size: 30px;
    justify-content: space-between;
    gap: 5rem;
  }
}

/* Intervallo: da 1112px a 1212px */
@media (max-width: 1212px) and (min-width: 1112px) {
  .menu {
    font-size: 25px;
    justify-content: space-between;
    gap: 5rem;
  }
}

/* Intervallo: fino a 1111px */
@media (max-width: 1111px) {
  .menu {
    font-size: 15px;
    justify-content: space-between;
    gap: 5rem;
  }
}



/* Tablet Mobile Style*/
@media (max-width: 1088px) {

.listen-to-your-skin-desktop {
display: none;
}


.listen-to-your-skin-tablet {
font-style: 'Delius Swash Caps';
font-size: 48px;
}

  .menu-desktop {
    display: none;
  }

  .header-menu-tablet-mobile {
    display: flex;
    justify-content: space-between;
    background-color: #2339B6;
  }

  .header-button {
    text-decoration: none;


  }



  .tablet-mobile {
    display: flex;
    justify-content: space-between;
    background-color: #2339B6;
    list-style: none;
  }

}

/* Chiusura-Tablet Mobile Style*/

h1 {
  font-family: 'Delius Swash Caps', serif;
  font-size: 96px;
  color: #F9FAFD;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.mood-orizzontale {
  text-align: center;
  border-radius: 75px;
  height: 864px;
  width: 1296px;
  overflow: hidden;
}

.mood-orizzontale img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

#acqua {
  opacity: 45%;
  position: relative;
  width: 1296px;
  height: 972px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.inner-first {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50rem;
  position: absolute;
  bottom: 0; 
   transform: translate(0% , 50%);
  
  
  
 
}

.mood-palline {
  display: flex;
  gap: 20px;
  align-items: center;
  text-align: center;
  height: 482px;
  width: 482px;
}

.mood-palline img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

h2 {
  font-family: 'Edu TAS Beginner', serif;
  font-size: 64px;
  text-align: center;
}





.second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 120px;
  margin-left: 328px;
  margin-right: 328px;
  margin-top: 400px;
  margin-bottom: 100px;
}

.third {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
  margin-bottom: 220px;
  margin-top: 169px;
}

.mood-verticale {
  text-align: center;
  height: 1296px;
  width: 864px;
  border-radius: 75px;
  overflow: hidden;
}

.mood-verticale img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.box-text-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 115px;
  text-align: center;
  background-color: #F9FAFD;
  border-radius: 75px;
  width: 718px;
  height: 889px;
  overflow-wrap: break-word;
}


.testo-fit-box {
  font-size: 32px;
  padding-top: 102px;
  padding-left: 75px;
  padding-right: 75px;
}

.tipologia-pelle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 65px;
}

.sottotitolo1 {
  background-color: #2339B6;
  color: #F9FAFD;
  border-radius: 200px;
  width: 1430px;
  height: 216px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.skin-type {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 65px;
  list-style: none;
}





.sottotitolo2 {
  background-color: #D4DEFE;
  color: #3B3B3B;
  border-radius: 200px;
  width: 1430px;
  height: 216px;
  margin: 0 auto;
  text-align: center;
  border-width: var(--border-width);
  border-style: solid;
  border-color: #2339B6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.test-pelle {
  --border-width: 32px;
  position: relative;
}

.vaialtest  {
  position: absolute;
 bottom: 0;
 right: 50%;
 transform: translate(50% , calc(50% - var(--border-width) / 2));
 
}

figure {
  max-width: 380px;
  margin: 20px auto;
  /* centra il blocco */
  text-align: center;
  /* centra testo e immagine */
  font-family: Arial, sans-serif;
  color: #555;
}

figure img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

figcaption {
  margin-top: 8px;
  font-size: 40px;
  font-style: 'Edu TAS Beginner', italic;
  color: #888;
  text-align: center;
}

#base {
  background-color: #D4DEFE;
}

.blog {
  display: grid;
  place-items: center;
  background: #2339B6;
  background: linear-gradient(0deg, rgba(35, 57, 182, 1) 0%, rgba(212, 222, 254, 1) 100%);
  width: 1702px;
  border-radius: 100px;
  margin: 0 auto;
  margin-top: 215px;
  display: grid;
  padding: 300px;
  gap: 100px;
}

.h2-titlebox{
  text-align: center;
}



.block-b{
margin-right: auto;
background-color: #D4DEFE;
color: #3B3B3B;
}

.block-b2 {
margin-left: auto;
background-color: #D83E5D;
 

}


.personalizzata {
  --border-width: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F9FAFD;
  border-width: var(--border-width);
  border-style: solid;
  border-color: #2339B6;
  width: 1702px;
  height: 1200px;
  border-radius: 100px;
  margin: 0 auto;
  margin-top: 200px;
  position: relative;
}

.registra-account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 1456px;
  max-height: 194px;
  gap: 178px;
}

.registra-account p {
font-size: 32px;
}

.registrati-button {
 position: absolute;
 bottom:0%;
 right: 50%;
 transform: translate(50% , calc(50% + var(--border-width) / 2));
}

/* CSS ABOUT */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 88px;
  gap: 110px;
}

.title {
  background-color: #2339B6;
  color: #F9FAFD;
  border-radius: 200px;
  width: 1430px;
  height: 272px;
  text-align: center;
  overflow-wrap: break-word;
  margin-top: 106px;
}

.title h1 {
  position: relative;
}

.paragrafo1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 92px;
  margin-bottom: 100px;
}

.testo-affiancato {
  max-width: 589px;
  text-align: left;
  font-size: 32px;
}

.paragrafo2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

.paragrafo2 p {
  max-width: 1408px;
}

.step-base {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 30px;
  list-style: none;
  margin-top: 50px;
  margin-bottom: 70px;
}

.step-base img {
  height: 380px;
  width: 380px;
}

.paragrafo3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 84px;
  margin-bottom: 200px;
}

.slideshow-container {
  display: flex;
  justify-content: center;
  margin-top: 96px;
  background-color: #2339B6;
  max-width: 1620px;
  border-radius: 100px;
  position: relative;
  text-align: center;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 60px;
  padding-right: 60px;
}

.slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  justify-content: center;
}

.slide {
  display: flex;
  max-width: 1326px;
  flex-shrink: 0;
  flex-basis: 1326px;
  width: 100%;
}

.slide img, .caption-slide {
  width: 50%;
}

.slider-img-container {
  text-align: center;
  max-height: 840px;
  max-width: 664px;
  border-radius: 100px;
  overflow: hidden;
}

.slider-img-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.caption-slide{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #F9FAFD;
  font-size: 32px;
}

.slider-nav {
  display: flex;
  justify-content: space-between;
}

.slider-pagination {
  position: absolute;
  bottom: 0;
}

.dot{
  background-color: #F9FAFD;
  width: 20px;
  height: 100%;
  margin: 10px;
  border-radius: 100px;
}


/* CSS ABOUT FINE */


footer {
  display: flex;
  justify-content: space-between;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  height: 320px;
  width: 100%;
  background: #2339B6;
  background: linear-gradient(0deg, rgba(35, 57, 182, 1) 0%, rgba(212, 222, 254, 1) 100%);
  border-top-left-radius: 75px;
  border-top-right-radius: 75px;
  margin-top: 143px;
}

span {
  font-size: 40px;
  font-style: 'Edu TAS Beginner', italic;
}

.colonna-sinistra {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}

.colonna-centrale {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  gap: 5em;
}

.colonna-destra {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
  margin-top: 30px;
}

