body {
    background: #F9FAFD;
    background: radial-gradient(circle,rgba(249, 250, 253, 1) 0%, rgba(205, 217, 255, 1) 100%);
}

.mood-orizzontale {
border-radius:75px;
height: 864px;
width: 1296px;
overflow: hidden; 

}

.mood-orizzontale img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}  